.read-more {
    color: #666;
}

#committees {
    margin: 50px auto 100px !important;
}

.image-container {
    background: var(--dark-purple);
    padding: 0 20%;
}

.committee-image {
    width: 100%;
    aspect-ratio: 2;
    object-position: bottom;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 120px auto;
}

.single-committee .committee {
    width: 25%;
    min-width: 220px;
}

.committee-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
}

.committee-name {
    margin-bottom: 10px;
    font-weight: 800;
}

.grade {
    color: var(--yellow);
}

.beginner {
    color: var(--light-purple);
}

.crisis {
    color: var(--light-purple);
}

p.agenda {
    margin-top: 15px;
}

.committee-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.delegates {
    text-align: center;
    margin-top: -15px;
}

.committee strong {
    color: var(--blue);
    font-size: 10px;
}

.committee-body {
    width: 80%;
    margin-left: 50px;
}


@media(max-width: 992px) {
    .committee-container {
        flex-direction: column;
    }

    .committee-name {
        text-align: center;
    }

    .committee-subheader {
        display: flex;
        justify-content: center;
    }

    .committee {
        margin-bottom: 30px;
    }
}

@media(max-width: 768px) {
    .committee h2 {
        margin: 0.5rem !important;
        font-size: 25px !important;
    }

    .image-container {
        padding: 0 5%;
    }
}

@media(max-width: 576px) {
    .image-container {
        padding: 0;
    }

    .committee-subheader {
        flex-direction: column;
        align-items: center;
    }
}
