header {
    padding: 0 5%;
    display: flex;
    /*top: 0;*/
    /*position: sticky;*/
    justify-content: space-between;
    z-index: 999;
}

header .logo-container {
    display: flex;
    align-items: center;
    padding: 30px 0;

    transition: all 0.1s ease;
    user-select: none;
}

.hamburger {
    display: none;
    align-items: center;
    font-size: 60px;
    padding-bottom: 10px;
}

header .logo-container:hover {
    transform: scale(1.05);
}

header .logo img {
    width: 65px;
    height: 100%;
    object-fit: contain;
}

header .logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    font-weight: 700;
    text-transform: uppercase;
}

header .logo-title {
    font-size: 25px;
    font-weight: 800;
    margin-top: -8px;
}

header .logo-title span {
    color: var(--light-green);
}

header .logo-subtitle {
    font-size: 12px;
    color: var(--purple);
}

header .logo-shorttitle {
    display: none;
    line-height: 100%;

    font-size: 30px;
    font-weight: 800;
    color: var(--purple);
}

header .logo-shorttitle span {
    color: var(--light-green);
}

header .menu {
    list-style: none;
    height: 100%;
    padding: 0;

    display: flex;
    align-items: center;
}

header .menu > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

header .menu li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: var(--lightest-purple);

    margin-left: 12px;
    margin-right: 12px;
    transition: all 0.1s ease;
}

header .menu li a:hover {
    color: var(--light-purple);
}

header .menu .current-menu-item > a {
    color: #fff !important;
    background: var(--light-green);

    border-radius: 6px;
    padding: 4px 7px;
}

header .menu .current-menu-item > a:hover,
header .menu .current-menu-item > a:focus {
    color: #fff !important;
    transform: scale(1.1);
}

header .menu li .sub-menu {
    display: none;
    position: absolute;
    z-index: 999;

    top: 100%;
    width: max-content;
    padding: 5px 15px;

    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    text-align: center;
}

header .menu li .sub-menu a {
    margin-top: 10px;

    text-transform: none;
    font-weight: 500;
    color: #ccc;
}

header .sub-menu li:hover a {
    color: #aaa;
}

header .menu li:hover .sub-menu {
    display: block;
}

@media(max-width: 992px) {
    header .logo-title {
        display: none;
    }

    header .logo-subtitle {
        display: none;
    }

    header .logo-shorttitle {
        display: block;
    }
}

@media(max-width: 668px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 5%;
    }
}

@media(max-width: 668px) and (min-width: 440px){
    header .logo-title {
        display: block;
    }

    header .logo-subtitle {
        display: block;
    }

    header .logo-shorttitle {
        display: none;
    }
}

@media(max-width: 440px) {
    header .menu > li:first-child {
        display: none;
    }
}
