#press {
    padding: 10px 0;
}

#press .container {
    margin: 100px auto;
    max-width: 1000px;
}

#press:nth-of-type(even) {
    background-color: var(--dark-purple);
}

#press:nth-of-type(even) h3,
#press:nth-of-type(even) .read-more {
    color: #fff;
}

#press .row {
    align-items: center;
    display: flex;
}

#press .text {
    padding-left: 50px
}

#press .thumbnail-container {
    padding: 0;
    transition: all 0.2s ease;
}

#press .thumbnail-container:hover {
    transform: scale(1.1);
}

#press .thumbnail {
    background: var(--yellow);
    padding: 2%;
}

#press .thumbnail img {
    width: 100%;
    height: 100%;
}

#press .author {
    color: var(--light-purple);
    text-transform: uppercase;
    font-weight: 700;
}

#press .date {
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 700;

    margin-left: 10px;
}

#press p {
    margin-top: 20px;
}

@media(max-width: 992px) {
    #press .text {
        margin-top: 40px;
    }

    #press .thumbnail {
        width: 60%;
        margin-left: 50px;
    }
}

@media(max-width: 576px) {
    #press .thumbnail {
        width: 90%;
        margin: auto;
    }

    #press .text {
        width: 90%;
        margin: 40px auto auto;
        padding: 0;
    }
}