.blog-content h1 {
    margin: -30px 0 20px !important;
}

.letter p {
    padding-left: 30px;
    color: #666;
}

.letter p:nth-of-type(1),
.letter p:last-child {
    font-weight: 700;
    color: var(--purple);

    padding: 0;
    text-indent: 0;
}

p.agenda {
    margin-bottom: 0;
}

.pdf-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    transition: all 0.2s ease;
}

.pdf-container:hover {
    transform: scale(1.05);
}

@media(max-width: 768px) {
    .letter p {
        padding-left: 0;
    }
}