p {
    text-align: justify;
}

.wp-block-tiptip-hyperlink-group-block, a,
.block-editor-block-list__layout.is-root-container a {
    text-decoration: none;
}

.card-shadow {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

.expand-on-hover {
    transition: all 0.2s ease-out;
}

.expand-on-hover:hover {
    transform: scale(1.05);
}

.committee-hover-card {
    margin-bottom: 25px;
}

#sb_instagram {
    max-width: none;
}
