<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"
      style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">

  <!-- wp:heading {"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"800"}}} -->
  <h2 style="font-style:normal;font-weight:800;text-transform:uppercase"><span class="has-secondary-color">IISP MUN</span> Committees</h2>
  <!-- /wp:heading -->

  <!-- wp:paragraph -->
  <p style="text-align: justify">To achieve the UN's goals in a more streamlined fashion, the organization created several committees with varied powers and responsibilities.  At the IISP MUN, we will simulate them to better understand world issues through different lenses. This year's edition features 9 committees tackling a broad range of issues:
  </p>
  <!-- /wp:paragraph -->

  <!-- wp:areoi/container {"block_id":"add30e9f-9a19-490a-acb5-7b0b82e8614e","container":"container-fluid","className":" w-75"} -->
  <!-- wp:areoi/row {"block_id":"983d7381-7be3-48e7-9f3a-b0e04b123561"} -->
  <!-- wp:areoi/column {"block_id":"5ab55e31-84c7-421c-99b4-1727ae212f37"} -->
  <!-- wp:areoi/div {"block_id":"bb3abe67-1e31-4889-975a-889c1d678ae8","padding_top_xs":"20","padding_right_xs":"20","padding_bottom_xs":"20","padding_left_xs":"20","margin_top_xs":"10","margin_right_xs":"10","margin_bottom_xs":"10","margin_left_xs":"10"} -->
  <!-- wp:paragraph -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:areoi/div -->
  <!-- /wp:areoi/column -->

  <!-- wp:areoi/column {"block_id":"b4c14194-7a3a-44ed-9811-c61133fe0ae0"} -->
  <!-- wp:areoi/div {"block_id":"bb3abe67-1e31-4889-975a-889c1d678ae8","padding_top_xs":"20","padding_right_xs":"20","padding_bottom_xs":"20","padding_left_xs":"20","margin_top_xs":"10","margin_right_xs":"10","margin_bottom_xs":"10","margin_left_xs":"10"} -->
  <!-- wp:paragraph -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:areoi/div -->
  <!-- /wp:areoi/column -->

  <!-- wp:areoi/column {"block_id":"f61cbedc-1ecd-4d88-adf5-ebdb5e37eee6"} -->
  <!-- wp:areoi/div {"block_id":"bb3abe67-1e31-4889-975a-889c1d678ae8","padding_top_xs":"20","padding_right_xs":"20","padding_bottom_xs":"20","padding_left_xs":"20","margin_top_xs":"10","margin_right_xs":"10","margin_bottom_xs":"10","margin_left_xs":"10"} -->
  <!-- wp:paragraph -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:areoi/div -->
  <!-- /wp:areoi/column -->

  <!-- wp:areoi/column {"block_id":"d1da5326-c206-427c-9b83-6c153e394895"} -->
  <!-- wp:areoi/div {"block_id":"bb3abe67-1e31-4889-975a-889c1d678ae8","padding_top_xs":"20","padding_right_xs":"20","padding_bottom_xs":"20","padding_left_xs":"20","margin_top_xs":"10","margin_right_xs":"10","margin_bottom_xs":"10","margin_left_xs":"10"} -->
  <!-- wp:paragraph -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:areoi/div -->
  <!-- /wp:areoi/column -->
  <!-- /wp:areoi/row -->
  <!-- /wp:areoi/container -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
